.my-text-style{
    color: white;
    font-size: 230%;
    margin-left: -10px;
}
.my-leftbox{
    text-align: center;
}

.my-middle-panel{
    margin-top: 20px;
}
.my-middle-overflow{
    margin-top: 20px;
    overflow-y:scroll;
    width:100px;
    height:520px;
}